form{
    border: 2px solid rgba(255, 20, 145, 0.91);
    border-radius: 20px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

 .container {
        background-image: url(https://st.depositphotos.com/1003419/1856/v/950/depositphotos_18560751-stock-illustration-vintage-food-background.jpg);
        background-size: cover;  
        padding: 20px;
     }
    

    
    