

        <!-- Footer Start -->
        <div class="footer">
          <div class="container">
              <div class="row">
                  <div class="col-lg-7">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="footer-contact">
                                  <h2>Our Address</h2>
                                  <p><i class="fa fa-map-marker-alt"></i>Pushpamangal Complex, Thane SOC, 502, MH SH 42, Uthalsar, Thane West, Thane, Maharashtra 400601</p>
                                  <p><i class="fa fa-phone-alt"></i>1800 120 1193</p>
                                  <p><i class="fa fa-envelope"></i>edubridge@example.com</p>
                                  <div class="footer-social">
                                      <a href=""><i class="fab fa-twitter"></i></a>
                                      <a href=""><i class="fab fa-facebook-f"></i></a>
                                      <a href="https://www.google.com/search?gs_ssp=eJzj4tVP1zc0TC42TTMoN85RYDRgdGDw4kxNKU0qykxJTwUAfD8Ihg&q=edubridge&oq=edu&gs_lcrp=EgZjaHJvbWUqDwgDEC4YJxjHARjRAxiKBTIGCAAQRRhBMgYIARBFGDkyBggCEEUYOzIPCAMQLhgnGMcBGNEDGIoFMgYIBBBFGDwyBggFEEUYPDIGCAYQRRhBMgYIBxBFGDzSAQg1MTc2ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8"><i class="fab fa-youtube"></i></a>
                                      <a href=""><i class="fab fa-instagram"></i></a>
                                      <a href=""><i class="fab fa-linkedin-in"></i></a>



                                      
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="footer-link">
                                  <h2>Quick Links</h2>
                                  <a href="">Terms of use</a>
                                  <a href="">Privacy policy</a>
                                  <a href="">Cookies</a>
                                  <a href="https://www.google.com/search?gs_ssp=eJzj4tVP1zc0TC42TTMoN85RYDRgdGDw4kxNKU0qykxJTwUAfD8Ihg&q=edubridge&oq=edu&gs_lcrp=EgZjaHJvbWUqDwgDEC4YJxjHARjRAxiKBTIGCAAQRRhBMgYIARBFGDkyBggCEEUYOzIPCAMQLhgnGMcBGNEDGIoFMgYIBBBFGDwyBggFEEUYPDIGCAYQRRhBMgYIBxBFGDzSAQg1MTc2ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8">Help</a>
                                  <a href="">FQAs</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-5">
                      <div class="footer-newsletter">
                          <h2>Newsletter</h2>
                          <p>
                            "Hungry for convenience? Our food delivery app brings your favorite dishes to you. Quick, reliable, and packed with delicious options, it's time to indulge in a hassle-free dining experience."
                            "Food made with love, delivered with care. Treat yourself to the ultimate comfort of home-cooked goodness, minus the effort."
                          </p>
                          <div class="form">
                              <input class="form-control" placeholder="Email goes here">
                              <button class="btn custom-btn">Submit</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="copyright">
              <div class="container">
                  <p>Copyright &copy; <a href="#">Foody Panda</a>, All Right Reserved.</p>
                  <p>Designed By <a href="https://htmlcodex.com">foody-pandas</a></p>
              </div>
          </div>
      </div>
      <!-- Footer End -->