
<!-- <header>
  <div class="navbar navbar-dark  shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
          <img src="assets\images\foodpandalogo.jpg" style="width:50px;height:50px;"   routerLink="/home">&nbsp;
          <strong style="font-size: 30px;">Foody-Panda</strong>
          <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search foods"> -->
          <!-- </div> -->
          <!-- <span class="fas fa-search search-icon"></span> -->


      <!-- </div>
      <button routerLink="/register" class="btn" style="margin-left: 310px;background-color: white;color: rgb(0, 0, 0);">
          <strong>Register</strong>    
      </button> -->
     <!-- <button routerLink="/add-product" class="btn" style="margin-left: 10px; background-color: white;color: rgb(255, 0, 119);">
          <strong>AddProduct</strong>    
      </button> -->
      <!-- <button routerLink="/cart" class="btn" style="margin-left: 1310px;background-color: white;color: rgb(0, 0, 0);">
        <strong>Cart</strong>    
    </button> -->


      <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" style="margin-left: 10px; background-color: white;color: rgb(0, 0, 0);" type="button" id="dropdownmenu" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>Menu</strong>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownmenu">
        <a class="dropdown-item" routerLink="/add-menu" style="color:rgb(0, 0, 0)"><b>AddMenu</b> </a>
    
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div> -->
      <!--  <a class="dropdown-item" routerLink="/delete-product" style="color:rgb(22, 6, 137)"><b>DeleteProduct</b></a> -->
        <!-- <a class="dropdown-item" href="#"></a>
        
        </div>
    </div> -->
      <!-- <button routerLink="cart" class="btn btn-secondary" style="color:rgb(0, 0, 0);background-color: white;margin-right: 20px;">
          <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-success">{{totalItem}}</div>
      </button> -->
  
<!-- </header> -->



<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
 
  <div class="navbar-brand align-item-center d-flex">
    <img src="assets\images\foodpandalogo.jpg" style="width:50px;height:50px;"   routerLink="/home">&nbsp;
    <strong style="font-size: 30px;">Foody-Panda</strong>
</div>



  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"   routerLink="/add-menu">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"   routerLink="/register">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"   routerLink="/cart"><i class="fas fa-cart-plus"></i></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/menus"  href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menus
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Pizza</a></li>
            <li><a class="dropdown-item" href="#">Burger</a></li>
            <li><a class="dropdown-item" href="#">Italian </a></li>
            <li><a class="dropdown-item" href="#">Drinks</a></li>
            <li><a class="dropdown-item" href="#">North Indian  </a></li>
            <li><a class="dropdown-item" href="#">South Indian  </a></li>
            <li><a class="dropdown-item" href="#">Dessert </a></li>
          </ul>
        </li>

       
      </ul>
    </div>
  </div>
</nav> 


 
