form{
    border: 2px solid rgba(255, 20, 145, 0.91);
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.container {
    background-image: url(https://image.freepik.com/free-photo/fresh-ingredients-white-background-with-space-text-center_23-2147925939.jpg);
    background-size: cover;  
    padding: 20px;
 }

 